@model TARpe21ShopVaitmaa.Models.Car.CarDetailsViewModel
<h1>Details</h1>
<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <div class="form-group-row">
            <label asp-for="Id" class="col-sm-2 col-sm-label"></label>
            @Html.DisplayFor(model => model.Id)
        </div>
        <div class="form-group-row">
            <label asp-for="CarBrand" class="col-sm-2 col-sm-label"></label>
            @Html.DisplayFor(model => model.CarBrand)
        </div>
        <div class="form-group-row">
            <label asp-for="Description" class="col-sm-2 col-sm-label"></label>
            @Html.DisplayFor(model => model.Description)
        </div>
        <div class="form-group-row">
            <label asp-for="YearMade" class="col-sm-2 col-sm-label"></label>
            @Html.DisplayFor(model => model.YearMade)
        </div>
        <div class="form-group-row">
            <label asp-for="CarPrice" class="col-sm-2 col-sm-label"></label>
            @Html.DisplayFor(model => model.CarPrice)
        </div>
        <div class="form-group-row">
            <label asp-for="HorsePower" class="col-sm-2 col-sm-label"></label>
            @Html.DisplayFor(model => model.HorsePower)
        </div>
        <div class="form-group-row">
            <label asp-for="TopSpeed" class="col-sm-2 col-sm-label"></label>
            @Html.DisplayFor(model => model.TopSpeed)
        </div>
        <div class="form-group-row">
            <label asp-for="CarWeight" class="col-sm-2 col-sm-label"></label>
            @Html.DisplayFor(model => model.CarWeight)
        </div>
        <div class="form-group-row">
            <label asp-for="TransmissionType" class="col-sm-2 col-sm-label"></label>
            @Html.DisplayFor(model => model.TransmissionType)
        </div>
        <div class="form-group-row">
            <label asp-for="CreatedAt" class="col-sm-2 col-sm-label"></label>
            @Html.DisplayFor(model => model.CreatedAt)
        </div>
        <div class="form-group-row">
            <label asp-for="ModifiedAt" class="col-sm-2 col-sm-label"></label>
            @Html.DisplayFor(model => model.ModifiedAt)
        </div>
        @foreach (var images in Model.FileToApiViewModels)
        {
            <partial name="_Images" model="images" />
        }
    </dl>
    <a asp-action="Index" asp-controller="Car" class="btn btn-primary">Back</a>
</div>
